<div class="w-full min-h-screen flex flex-col items-center pt-20 px-30">
  <div class="max-w-5xl w-full mb-10">
    <h1 class="text-5xl font-bold text-black">Welcome to the Artist Dashboard</h1>
    <div class="flex gap-10 pt-10 mb-5">
      <%= link_to "Post a song", new_song_path, class: "font-semibold p-2 rounded-lg bg-green-700 text-white hover:bg-green-900" %>
      <%= link_to "View your songs", songs_path, class: "font-semibold p-2 rounded-lg bg-blue-500 text-white hover:bg-blue-700" %>
      <%= link_to "Edit your account", edit_artist_registration_path, class: "font-semibold p-2 rounded-lg bg-yellow-500 text-white hover:bg-yellow-700" %>
      <%= link_to "Sign out", destroy_artist_session_path, class: "font-semibold p-2 rounded-lg bg-red-500 text-white hover:bg-red-700", data: { turbo_method: :delete } %>
      <% if current_artist.payouts_enabled? %>
        <span class="bg-gradient-to-r from-amber-700 to-fuchsia-600 p-2 rounded-full text-white font-bold"> Payments Enabled💲 </span>
      <% end %>
    </div>

    <% if current_artist.payouts_enabled? %>
      <div class="grid md:grid-cols-2 gap-4">
        <div class="flex flex-col mt-10 items-center justify-center h-56 w-full bg-gray-100 rounded-lg shadow-lg pb-5">
          <p class="text-xl font-semibold"> Your current balance (Payouts happen daily) </p>
          <p class="text-5xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-green-500 to-sky-600 "> <%= number_to_currency(@balance.available[0].amount.to_f / 100) %> </p>
        </div>

        <div class="flex flex-col mt-10 items-center justify-center h-56 w-full bg-gray-100 rounded-lg shadow-lg pb-5">
          <p class="text-xl font-semibold"> Your total streams </p>
          <p class="text-5xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-green-500 to-sky-600 "> <%= current_artist.songs.sum(&:streams_count) %> </p>
        </div>
      </div>
    <% else %>
      <div data-controller="stripe-onboarding" data-stripe-onboarding-url-value="<%= onboarding_session_path %>" class="bg-emerald-50 w-full p-10"> 
      </div>
    <% end %>
  </div>
</div>

