<div id="<%= dom_id song %>" class="px-5">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= song.title %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Image:</strong>
    <div class="max-w-12xl w-full mx-auto grid md:grid-cols-4 gap-8">
      <div class="w-full" >
        <div class="relative w-full">
          <%= image_tag(rails_blob_path(song.image, only_path: true), class: "h-96 md:h-40 w-full object-cover rounded-lg") if song.image.attached? %>
        </div>
      </div>
    </div>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Audio file:</strong>
    <%= link_to song.audio_file.filename, song.audio_file if song.audio_file.attached? %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Artist:</strong>
    <%= song.artist.stage_name %>
  </p>
</div>
